{block #content}
    <p n:isAllowed="article, edit">
        <a n:href="Article:edit, groupId => $group->getId()" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New article"}</a>
    </p>
    {control gridArticle}
{/block}