{block #content}
    <p n:isAllowed="htmlSnippet, edit">
        <a n:href="HtmlSnippet:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New html snippet"}</a>
    </p>
    {control htmlSnippetGrid}
{/block}