<div class="html-snippet news-wrapper {$htmlSnippet->getIdentifier()|webalize}">
    <h2 n:if="$htmlSnippet->isShowName()">
        {$htmlSnippetTranslation->getName()}
    </h2>
    <!--HTML-SNIPPET-->
</div>
